<%= stylesheet_link_tag "style_padrao_novo.css" %>
<body class="main-bg">
  <div class="login-container text-c animated flipInX">
    <div class="container-content">
      <%= form_with(model: cargo) do |form| %>
        <% if cargo.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(cargo.errors.count, "error") %> prohibited this cargo from being saved:</h2>

            <ul>
              <% cargo.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.text_field :nome,placeholder:"Nome do cargo" %>
        </div>

        <div class="field">
          <%= form.text_area :descricao,placeholder:"Descrição do cargo" %>
        </div>

        <div class="field">
          <%= form.text_field :permissao,placeholder:"Nível de permissão" %>
        </div>

        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
      <div class="form-group field">    
        <%= link_to "Voltar", :back %>
      </div>
    </div>
  </div>
</body>