<%= stylesheet_link_tag "style_padrao_novo.css" %>
<body class="main-bg">
  <div class="login-container text-c animated flipInX">
    <div class="container-content">
      <%= form_with(model: pet) do |form| %>
        <% if pet.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

            <ul>
              <% pet.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.text_field :nome,placeholder:"Nome do Pet" %>
        </div>

        <div class="field">
          <%= form.text_field :raca,placeholder:"Raça do Pet" %>
        </div>

        <div class="field">
          <%= form.text_field :cor,placeholder:"Cor do Pet" %>
        </div>

        <div class="field">
          <%= form.text_field :idade,placeholder:"Idade do Pet" %>
        </div>

        <div class="field">
          <%= form.text_field :porte,placeholder:"Porte do Pet" %>
        </div>

        <div class="field">
          <%= form.text_area :observacao,placeholder:"Observações" %>
        </div>

        <div class="field">
          <%= form.collection_select(:cliente_id, Cliente.all, :id, :nome, prompt: "Selecione o cliente") %>
        </div>

        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
      <div class="form-group field">    
        <%= link_to "Voltar", :back %>
      </div>
    </div>
  </div>
</body>

