<%= stylesheet_link_tag "style_padrao_novo.css" %>
<%= stylesheet_link_tag "style_padrao_visualizar.css" %>

<%= render 'header'  %>
<h1 class="text-whitesmoke">Serviço</h1>
<body class="main-bg">
  <div class="login-container text-c animated flipInX">
    <div class="container-content">
      <%= form_with() do |form| %>
        <div class="field">        
          <strong>Nome:</strong><br>
          <%= form.text_field :nome,value: @servico.nome,:disabled => true  %>
        </div>

        <div class="field">        
          <strong>Descrição:</strong><br>
          <%= form.text_area :descricao,value: @servico.descricao,:disabled => true  %>
        </div>

        <div class="field">
          <strong>Duração:</strong><br>
          <%= form.text_field :duracao,value: @servico.duracao+' minutos',:disabled => true %>
        </div>

        <div class="field">
          <strong>Valor:</strong><br>
          <%= form.text_field :valor,value: 'R$ '+@servico.valor,:disabled => true %>
        </div>

        <div class="field">
          <strong>Observações:</strong><br>
          <%= form.text_field :observacoes,value: @servico.observacoes,:disabled => true %>
        </div>
      <% end %>
      <div class="form-group field">    
        <%= link_to "Voltar", :back %>
      </div>
    </div>
  </div>
</body>

<%= render 'footer'  %>