<%= stylesheet_link_tag "style_padrao_novo.css" %>
<body class="main-bg">
  <div class="login-container text-c animated flipInX">
    <div class="container-content">
      <%= form_with(model: agendamento) do |form| %>
        <% if agendamento.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(agendamento.errors.count, "error") %> prohibited this agendamento from being saved:</h2>

            <ul>
              <% agendamento.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.collection_select(:pet_id, Pet.all, :id, :nome, prompt: "Selecione o pet") %>
        </div>

        <div class="field">
          <%= form.collection_select(:servico_id, Servico.all, :id, :nome, prompt: "Selecione o serviço") %>
        </div>

        <div class="field">
          <%= form.collection_select(:usuario_id, Usuario.all, :id, :nome, prompt: "Selecione o funcionário") %>
        </div>

        <div class="field">
          <%= form.text_field :data,placeholder:"Data e hora do agendamento" %>
        </div>

        <div class="field">
          <%= form.text_area :observacao,placeholder:"Observações do agendamento" %>
        </div>

        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
      <div class="form-group field">    
        <%= link_to "Voltar", :back %>
      </div>
    </div>
  </div>
</body>

