<%= stylesheet_link_tag "style_padrao_novo.css" %>
<%= stylesheet_link_tag "style_padrao_visualizar.css" %>

<%= render 'header'  %>
<h1 class="text-whitesmoke">Agendamento</h1>
<body class="main-bg">
  <div class="login-container text-c animated flipInX">
    <div class="container-content">
      <%= form_with() do |form| %>
        <div class="field">        
          <strong>Pet:</strong><br>
          <%= form.text_field :pet,value: @agendamento.pet.nome,:disabled => true  %>
        </div>

        <div class="field">        
          <strong>Serviço:</strong><br>
          <%= form.text_field :servico,value: @agendamento.servico.nome,:disabled => true  %>
        </div>

        <div class="field">        
          <strong>Responsável:</strong><br>
          <%= form.text_field :usuario,value: @agendamento.usuario.nome,:disabled => true  %>
        </div>

        <div class="field">        
          <strong>Data:</strong><br>
          <%= form.text_field :data,value: @agendamento.data,:disabled => true  %>
        </div>

        <div class="field">        
          <strong>Observação:</strong><br>
          <%= form.text_area :observacao,value: @agendamento.observacao,:disabled => true  %>
        </div>

      <% end %>
      <div class="form-group field">    
        <%= link_to "Voltar", :back %>
      </div>
    </div>
  </div>
</body>

<%= render 'footer'  %>