<%= form_with(model: usuario_cargo) do |form| %>
  <% if usuario_cargo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario_cargo.errors.count, "error") %> prohibited this usuario_cargo from being saved:</h2>

      <ul>
        <% usuario_cargo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :usuario_id %>
    <%= form.text_field :usuario_id %>
  </div>

  <div class="field">
    <%= form.label :cargo_id %>
    <%= form.text_field :cargo_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
