<%= stylesheet_link_tag "style_padrao_listar.css" %>
<%= render 'header'  %>

<p id="notice"><%= notice %></p>

<h1 class="title-table">Cargos dos Usuários</h1>
<div class="table-wrapper">
  <table class="fl-table">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Cargo</th>
        <th colspan="3">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @usuario_cargos.each do |usuario_cargo| %>
        <tr>
          <td><%= usuario_cargo.usuario.nome %></td>
          <td><%= usuario_cargo.cargo.nome %></td>
          <td><%= link_to 'Mostrar', usuario_cargo %></td>
          <td><%= link_to 'Editar', edit_usuario_cargo_path(usuario_cargo) %></td>
          <td><%= link_to 'Remover', usuario_cargo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      <tr>
        <td><%= link_to 'Novo Cargo para o usuário', new_usuario_cargo_path %></td>
      </tr>
    </tbody>
  </table>
<div>
<%= render 'footer'  %>