<%= stylesheet_link_tag "style_padrao_novo.css" %>
<%= stylesheet_link_tag "style_padrao_visualizar.css" %>

<%= render 'header'  %>
<h1 class="text-whitesmoke">Usuário Cargo</h1>
<body class="main-bg">
  <div class="login-container text-c animated flipInX">
    <div class="container-content">
      <%= form_with() do |form| %>
        <div class="field">        
          <strong>Usuário:</strong><br>
          <%= form.text_field :usuario,value: @usuario_cargo.usuario.nome,:disabled => true  %>
        </div>

        <div class="field">        
          <strong>Cargo:</strong><br>
          <%= form.text_field :cargo,value: @usuario_cargo.cargo.nome,:disabled => true  %>
        </div>
      <% end %>
      <div class="form-group field">    
        <%= link_to "Voltar", :back %>
      </div>
    </div>
  </div>
</body>

<%= render 'footer'  %>