<head>
<title>Get Pet</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #888;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 80vh; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;

}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 80vh; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
</style>
</head>
<body>
<header>
  <h2><a href='https://getpet-es.herokuapp.com'>Get Pet</a></h2>


</header>

<section id='body'>
  <nav>
    <ul>
      <li>Integrantes</li>
      <li>.</li>
      <li><a href='https://github.com/FabioFreire-ff'>FabioFreire-ff</a></li>      
      <li><a href='https://github.com/gabriel-gf'>gabriel-gf</a></li>
      <li><a href='https://github.com/JSouza-git'>JSouza-git</a></li>
    </ul>
  </nav>
  
  <article>
    <h1>Get Pet</h1>
    <p>    
      Sistema de gerenciamento de serviços para petshop.<br><br>
      O sistema provê métodos para gerenciamento de horários de serviços e funcionários, de forma a auxiliar a administração.<br>
      Os usuários do sistema Get Pet podem cadastrar novos pets, agendar serviços, e gerenciar horários dos serviços.<br>

    </p>

    <ul>
      <li><%= link_to 'Cadastrar usuario', new_usuario_path%></li>
      <li><%= link_to 'Cadastrar cargo', new_cargo_path %></li>
      <li><%= link_to 'Cadastrar pet', new_pet_path %></li>
      <li><%= link_to 'Cadastrar cliente', new_cliente_path %></li>
      <li><%= link_to 'Cadastrar usuario em um cargo', new_usuario_cargo_path %></li>
      <li><%= link_to 'Cadastrar servico', new_servico_path %></li>
    </ul>

    <% if user_signed_in? %>
    <ul>
      <li><%= current_user.email %></li>
      <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
    </ul>
    <% else %>
      <ul>
        <li><%= link_to 'Cadastro de um novo usuário', new_user_registration_path %></li>
        <li><%= link_to 'Logar', new_user_session_path%></li>
      </ul>
    <% end %>
  </article>
</section>